# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Build output
*.out
*.o
*.a

# Dataset / episodes (large data folders)
data/
dataset/
episodes/


# IDE
.vscode/
.idea/

# Secrets
.env
*.key